<div id="wrapper">
  <div id="score">Score: <span id="score-val">0/0</span></div>
  <div id="top-bar">
    <%= form_tag submit_path do %>
        <%= hidden_field_tag :words %>
        <%= submit_tag "Save" %>
    <% end %>
  </div>
  <div class="clear"></div>
  <div id="main"></div>
</div>
<div id="before" class="footer">
  <div id="skip" class="button" onclick="skip()">Skip</div>
  <div id="check" class="button" onclick="check()">Check</div>
  <div class="clear"></div>
</div>
<div id="after" class="footer hidden">
  <div id="right" class="button" onclick="right()">Right</div>
  <div id="wrong" class="button" onclick="wrong()">Wrong</div>
  <div class="clear"></div>
</div>
<script>
  right_push_days = -5;
  current_index = 0;
  mode = 0;
  score = 0;
  total = 0;

  function init() {
    words = [];

    <% Word.all.order(read_last_date: :asc).each do |word| %>
    words.push({
      name: "<%= word.name %>",
      sound: "<%= word.sound %>",
      definition: "<%= word.definition %>",
      points: <%= word.read_points %>,
      mode: 0
    });
    <% end %>

    <% Word.all.order(write_last_date: :asc).each do |word| %>
    words.push({
      name: "<%= word.name %>",
      sound: "<%= word.sound %>",
      definition: "<%= word.definition %>",
      points: <%= word.write_points %>,
      mode: 1
    });
    <% end %>

    words = shuffle(words);

    words.sort(function(word1, word2) { return word2["points"] - word1["points"]});

    write(words);

    $('#main').text(words[current_index]["name"]);
  }

  function skip() {
    words = read();

    words[current_index]["points"] = right_push_days;

    write(words);

    nextPage()
  }

  function check() {
    words = read();

    $('#main').text(format(words[current_index]));

    after();
  }

  function nextPage() {
    words = read();

    current_index++;

    if (current_index >= words.length) {
      current_index = 0;
      score = 0;
      total = 0;
      words.sort(function(word1, word2) { return word2["points"] - word1["points"]});
    }

    write(words);

    if (words[current_index]["mode"] == 0) {
      $('#main').text(words[current_index]["name"]);
    } else {
      $('#main').text(words[current_index]["definition"]);
    }

    before();
    updateScore();
  }

  function wrong() {
    words = read();

    words[current_index]["points"] = 0;
    total++;

    write(words);

    nextPage();
  }

  function right() {
    words = read();

    words[current_index]["points"] = right_push_days;
    total++;
    score++;

    write(words);

    nextPage();
  }

  function before() {
    $('#before').removeClass("hidden");
    $('#after').addClass("hidden");
  }

  function after() {
    $('#before').addClass("hidden");
    $('#after').removeClass("hidden");
  }

  function updateScore() {
    $('#score-val').text(score + "/" + total);
  }

  function write(obj) {
    $('#words').val(JSON.stringify(obj));
  }

  function read() {
    return JSON.parse($('#words').val());
  }

  function format(word_obj) {
    if (word_obj["name"] == word_obj["sound"]) {
      return word_obj["name"] + ": " + word_obj["definition"]
    } else {
      return word_obj["name"] + " (" + word_obj["sound"] + "): " + word_obj["definition"]
    }
  }

  function shuffle(array) {
    var currentIndex = array.length, temporaryValue, randomIndex;

    // While there remain elements to shuffle...
    while (0 !== currentIndex) {

      // Pick a remaining element...
      randomIndex = Math.floor(Math.random() * currentIndex);
      currentIndex -= 1;

      // And swap it with the current element.
      temporaryValue = array[currentIndex];
      array[currentIndex] = array[randomIndex];
      array[randomIndex] = temporaryValue;
    }

    return array;
  }

  init();
</script>
