html, body {
  height: 100%;
  margin: 0;
}

.clear {
  clear: both;
}

.hidden {
  display: none;
}

input[type=submit] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 100px;
}

#top-bar {
  text-align: right;
  float: right;
}

#score {
  float: left;
  font-size: 100px;
}

#main {
  font-size: 200px;
}

#wrapper {
  min-height: 100%;
  margin-bottom: -150px;
}

.footer {
  padding: 10px;
  height: 150px;
  width: 100%;
}

.button {
  padding: 12px 0;
  text-align: center;
  width: 49%;
  float: left;
  cursor: pointer;
  font-size: 100px;
}

#skip {
  background-color: #FFD700;
}

#check {
  background-color: #87CEEB;
}

#wrong {
  background-color: #F08080;
}

#right {
  background-color: #98FB98;
}

#submitted {
  width: 100%;
  height: 100%;
  background-color: #98FB98;
  text-align: center;
  padding-top: 30%;
  text-decoration: none !important;
  font-size: 100px;
}

a {
  text-decoration: none !important;
  color: #006400;
}
